<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LaboImageOptimizationConfig" type="Labo.ImageOptimizer.Configuration.LaboImageOptimizationConfig, Labo.ImageOptimizer-x64" requirePermission="false" />
  </configSections>
  <LaboImageOptimizationConfig>
    <Png PngOutApplicationPath="%BASEDIRECTORY%/Tools/pngout.exe" OptiPngApplicationPath="%BASEDIRECTORY%/Tools/optipng.exe" />
    <Jpeg JpegTranApplicationPath="%BASEDIRECTORY%/Tools/jpegtran.exe" />
  </LaboImageOptimizationConfig>
</configuration>